<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bienvenido/a</title>
  </head>
  <body>
    <h1>Bienvenido, {{ user.name }}!</h1>
    <p>Favor de darle click al link para mandarte tu codigo de verificacion a tu móbil registrado</p>
    <a href="{{ url }}">Click</a>
  </body>
</html>

