<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Segundo paso/a</title>
  </head>
  <body>
    <h1>Hola otra vez, {{ user.name }}!</h1>
    <p>Tu numero de verificacion fue enviado a tu mobil favor de no compartirlo con nadie</p>
    
  </body>
</html>
